@using Proyecto_final.Models;
@model Usuario
@{
    ViewBag.Title = "Registrarse";
}

@*<p>Nombre, Apellido, Usuario, contrase침a, confimar contra</p>*@

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Registrarse
                <small>Ac치 vas a encontrar las mejores propiedades al mejor precio</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Inicio", "Index", "Home")
                </li>
                <li class="active">Registrarse</li>
            </ol>
        </div>
    </div>



    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("Registrarse", "Clientes", FormMethod.Post))
                    {

                        <b>Nombre de Usuario:</b> @Html.TextBoxFor(x => x.NombreDeUsuario)
                        <br />
                        <b>Nombre:</b> @Html.TextBoxFor(x => x.Nombre)
                        <br />
                        <b>Apellido:</b> @Html.TextBoxFor(x => x.Apellido)
                        <br />
                        <b>Contrase침a:</b> @Html.TextBoxFor(x => x.Contrase침a, new { type = "password" })
                        <br />
                        <input type="submit" value="Registrarse" />
                    }
                </div>
            </div>


        </div>


    </div>


</div>
